* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background-color: #eeece4;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}
